USE [master]
GO
/****** Object:  Database [quan_ly_tu_nhan]    Script Date: 2/24/2024 4:32:36 PM ******/
CREATE DATABASE [quan_ly_tu_nhan]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quan_ly_tu_nhan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quan_ly_tu_nhan]
GO
/****** Object:  Table [dbo].[Crime]    Script Date: 2/24/2024 4:32:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crime](
	[crime_id] [varchar](50) NOT NULL,
	[crime_name] [varchar](50) NOT NULL,
	[crime_level] [varchar](10) NULL,
 CONSTRAINT [PK_Crime] PRIMARY KEY CLUSTERED 
(
	[crime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crime_with_Sentence]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crime_with_Sentence](
	[crime_id] [varchar](50) NOT NULL,
	[sentence_id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Crime_with_Sentence] PRIMARY KEY CLUSTERED 
(
	[crime_id] ASC,
	[sentence_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prison]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prison](
	[prison_id] [varchar](50) NOT NULL,
	[prison_name] [varchar](30) NOT NULL,
	[prison_address] [varchar](50) NULL,
	[prison_capacity] [int] NULL,
	[chief_warden_name] [varchar](40) NULL,
 CONSTRAINT [PK_Prison] PRIMARY KEY CLUSTERED 
(
	[prison_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prison_staff]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prison_staff](
	[prison_staff_id] [varchar](50) NOT NULL,
	[first_name] [varchar](30) NOT NULL,
	[last_name] [varchar](30) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[position] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Prison_staff] PRIMARY KEY CLUSTERED 
(
	[prison_staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prison_with_Prison_staff]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prison_with_Prison_staff](
	[prison_id] [varchar](50) NOT NULL,
	[prison_staff_id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Prison_with_Prison_staff] PRIMARY KEY CLUSTERED 
(
	[prison_staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisoner]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisoner](
	[prisoner_id] [varchar](50) NOT NULL,
	[first_name] [varchar](20) NOT NULL,
	[last_name] [varchar](20) NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [varchar](4) NULL,
	[cell_room] [varchar](50) NULL,
	[start_day] [date] NULL,
	[end_day] [date] NULL,
 CONSTRAINT [PK_Prisoner] PRIMARY KEY CLUSTERED 
(
	[prisoner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisoner_with_Crime]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisoner_with_Crime](
	[prisoner_id] [varchar](50) NOT NULL,
	[crime_id] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisoner_with_Prison]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisoner_with_Prison](
	[prisoner_id] [varchar](50) NOT NULL,
	[prison_id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Prisoner_with_Prison] PRIMARY KEY CLUSTERED 
(
	[prisoner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relative_of_prisoner]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relative_of_prisoner](
	[prisoner_id] [varchar](50) NOT NULL,
	[first_name] [varchar](30) NOT NULL,
	[last_name] [varchar](30) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[relationship_with_prisoner] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sentence]    Script Date: 2/24/2024 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sentence](
	[sentence_id] [varchar](50) NOT NULL,
	[sentence_type] [varchar](50) NOT NULL,
	[sentence_time] [varchar](50) NULL,
 CONSTRAINT [PK_Sentence] PRIMARY KEY CLUSTERED 
(
	[sentence_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Crime] ([crime_id], [crime_name], [crime_level]) VALUES (N'01', N'Cuop giat tai san', N'1')
INSERT [dbo].[Crime] ([crime_id], [crime_name], [crime_level]) VALUES (N'02', N'Cuop giat tai san', N'2')
INSERT [dbo].[Crime] ([crime_id], [crime_name], [crime_level]) VALUES (N'03', N'Cuop giat tai san', N'3')
GO
INSERT [dbo].[Crime_with_Sentence] ([crime_id], [sentence_id]) VALUES (N'01', N'3')
INSERT [dbo].[Crime_with_Sentence] ([crime_id], [sentence_id]) VALUES (N'02', N'4')
INSERT [dbo].[Crime_with_Sentence] ([crime_id], [sentence_id]) VALUES (N'03', N'5')
GO
INSERT [dbo].[Prison] ([prison_id], [prison_name], [prison_address], [prison_capacity], [chief_warden_name]) VALUES (N'1', N'Azure Dragon', N'Ha Noi city', 10000, N'Nguyen Van Hoan')
INSERT [dbo].[Prison] ([prison_id], [prison_name], [prison_address], [prison_capacity], [chief_warden_name]) VALUES (N'2', N'White Tiger', N'Bac Ninh city', 9000, N'Ngo Van Quang')
INSERT [dbo].[Prison] ([prison_id], [prison_name], [prison_address], [prison_capacity], [chief_warden_name]) VALUES (N'3', N'Vermilion Bird', N'Da Nang city', 8500, N'Pham Hoang Viet')
GO
INSERT [dbo].[Prison_staff] ([prison_staff_id], [first_name], [last_name], [date_of_birth], [gender], [position]) VALUES (N'01', N'Le Xuan', N'An', CAST(N'1980-12-11' AS Date), N'Nam', N'Giam thi')
INSERT [dbo].[Prison_staff] ([prison_staff_id], [first_name], [last_name], [date_of_birth], [gender], [position]) VALUES (N'02', N'Nguyen Mai', N'Anh', CAST(N'1985-09-02' AS Date), N'Nu', N'Pho giam thi')
INSERT [dbo].[Prison_staff] ([prison_staff_id], [first_name], [last_name], [date_of_birth], [gender], [position]) VALUES (N'03', N'Le Ngoc', N'Anh', CAST(N'1983-03-30' AS Date), N'Nu', N'Truong phan trai')
GO
INSERT [dbo].[Prison_with_Prison_staff] ([prison_id], [prison_staff_id]) VALUES (N'1', N'01')
INSERT [dbo].[Prison_with_Prison_staff] ([prison_id], [prison_staff_id]) VALUES (N'1', N'02')
INSERT [dbo].[Prison_with_Prison_staff] ([prison_id], [prison_staff_id]) VALUES (N'1', N'03')
GO
INSERT [dbo].[Prisoner] ([prisoner_id], [first_name], [last_name], [date_of_birth], [gender], [cell_room], [start_day], [end_day]) VALUES (N'01', N'Do Thi', N'Anh', CAST(N'1980-01-22' AS Date), N'Nu', N'04', CAST(N'2010-01-19' AS Date), CAST(N'2020-09-21' AS Date))
INSERT [dbo].[Prisoner] ([prisoner_id], [first_name], [last_name], [date_of_birth], [gender], [cell_room], [start_day], [end_day]) VALUES (N'02', N'Pham Thi', N'Anh', CAST(N'1991-04-20' AS Date), N'Nu', N'04', CAST(N'2011-11-01' AS Date), CAST(N'2013-10-11' AS Date))
INSERT [dbo].[Prisoner] ([prisoner_id], [first_name], [last_name], [date_of_birth], [gender], [cell_room], [start_day], [end_day]) VALUES (N'03', N'Do Thi Quynh', N'Anh', CAST(N'1989-02-22' AS Date), N'Nam', N'03', CAST(N'2010-01-19' AS Date), CAST(N'2020-09-21' AS Date))
GO
INSERT [dbo].[Prisoner_with_Crime] ([prisoner_id], [crime_id]) VALUES (N'01', N'01')
INSERT [dbo].[Prisoner_with_Crime] ([prisoner_id], [crime_id]) VALUES (N'02', N'02')
INSERT [dbo].[Prisoner_with_Crime] ([prisoner_id], [crime_id]) VALUES (N'03', N'03')
GO
INSERT [dbo].[Prisoner_with_Prison] ([prisoner_id], [prison_id]) VALUES (N'01', N'1')
INSERT [dbo].[Prisoner_with_Prison] ([prisoner_id], [prison_id]) VALUES (N'02', N'1')
INSERT [dbo].[Prisoner_with_Prison] ([prisoner_id], [prison_id]) VALUES (N'03', N'1')
GO
INSERT [dbo].[Relative_of_prisoner] ([prisoner_id], [first_name], [last_name], [date_of_birth], [gender], [relationship_with_prisoner]) VALUES (N'1', N'An', N'Hoang Trong', CAST(N'1999-12-13' AS Date), N'male', N'Brother')
INSERT [dbo].[Relative_of_prisoner] ([prisoner_id], [first_name], [last_name], [date_of_birth], [gender], [relationship_with_prisoner]) VALUES (N'1', N'An', N'Nguyen Van', CAST(N'1980-04-28' AS Date), N'male', N'Uncle')
INSERT [dbo].[Relative_of_prisoner] ([prisoner_id], [first_name], [last_name], [date_of_birth], [gender], [relationship_with_prisoner]) VALUES (N'2', N'An', N'Pham Thanh', CAST(N'2000-03-24' AS Date), N'male', N'Step brother')
GO
INSERT [dbo].[Sentence] ([sentence_id], [sentence_type], [sentence_time]) VALUES (N'1', N'Canh cao', N'')
INSERT [dbo].[Sentence] ([sentence_id], [sentence_type], [sentence_time]) VALUES (N'2', N'Cai tao khong giam giu', N'tu 3 thang den 3 nam')
INSERT [dbo].[Sentence] ([sentence_id], [sentence_type], [sentence_time]) VALUES (N'3', N'Tu co thoi han', N'tu 6 thang den 3 nam')
GO
ALTER TABLE [dbo].[Crime]  WITH NOCHECK ADD  CONSTRAINT [FK_Crime_Crime] FOREIGN KEY([crime_id])
REFERENCES [dbo].[Crime] ([crime_id])
GO
ALTER TABLE [dbo].[Crime] CHECK CONSTRAINT [FK_Crime_Crime]
GO
ALTER TABLE [dbo].[Crime_with_Sentence]  WITH CHECK ADD  CONSTRAINT [FK_Crime_with_Sentence_Crime_with_Sentence] FOREIGN KEY([crime_id])
REFERENCES [dbo].[Crime] ([crime_id])
GO
ALTER TABLE [dbo].[Crime_with_Sentence] CHECK CONSTRAINT [FK_Crime_with_Sentence_Crime_with_Sentence]
GO
ALTER TABLE [dbo].[Crime_with_Sentence]  WITH CHECK ADD  CONSTRAINT [FK_Crime_with_Sentence_Sentence] FOREIGN KEY([sentence_id])
REFERENCES [dbo].[Sentence] ([sentence_id])
GO
ALTER TABLE [dbo].[Crime_with_Sentence] CHECK CONSTRAINT [FK_Crime_with_Sentence_Sentence]
GO
ALTER TABLE [dbo].[Prison_with_Prison_staff]  WITH CHECK ADD  CONSTRAINT [FK_Prison_with_Prison_staff_Prison] FOREIGN KEY([prison_id])
REFERENCES [dbo].[Prison] ([prison_id])
GO
ALTER TABLE [dbo].[Prison_with_Prison_staff] CHECK CONSTRAINT [FK_Prison_with_Prison_staff_Prison]
GO
ALTER TABLE [dbo].[Prison_with_Prison_staff]  WITH CHECK ADD  CONSTRAINT [FK_Prison_with_Prison_staff_Prison_with_Prison_staff] FOREIGN KEY([prison_staff_id])
REFERENCES [dbo].[Prison_staff] ([prison_staff_id])
GO
ALTER TABLE [dbo].[Prison_with_Prison_staff] CHECK CONSTRAINT [FK_Prison_with_Prison_staff_Prison_with_Prison_staff]
GO
ALTER TABLE [dbo].[Prisoner_with_Crime]  WITH CHECK ADD  CONSTRAINT [FK_Prisoner_with_Crime_Crime] FOREIGN KEY([crime_id])
REFERENCES [dbo].[Crime] ([crime_id])
GO
ALTER TABLE [dbo].[Prisoner_with_Crime] CHECK CONSTRAINT [FK_Prisoner_with_Crime_Crime]
GO
ALTER TABLE [dbo].[Prisoner_with_Crime]  WITH CHECK ADD  CONSTRAINT [FK_Prisoner_with_Crime_Prison] FOREIGN KEY([prisoner_id])
REFERENCES [dbo].[Prisoner] ([prisoner_id])
GO
ALTER TABLE [dbo].[Prisoner_with_Crime] CHECK CONSTRAINT [FK_Prisoner_with_Crime_Prison]
GO
ALTER TABLE [dbo].[Prisoner_with_Prison]  WITH CHECK ADD  CONSTRAINT [FK_Prisoner_with_Prison_Prison] FOREIGN KEY([prison_id])
REFERENCES [dbo].[Prison] ([prison_id])
GO
ALTER TABLE [dbo].[Prisoner_with_Prison] CHECK CONSTRAINT [FK_Prisoner_with_Prison_Prison]
GO
ALTER TABLE [dbo].[Prisoner_with_Prison]  WITH CHECK ADD  CONSTRAINT [FK_Prisoner_with_Prison_Prisoner] FOREIGN KEY([prisoner_id])
REFERENCES [dbo].[Prisoner] ([prisoner_id])
GO
ALTER TABLE [dbo].[Prisoner_with_Prison] CHECK CONSTRAINT [FK_Prisoner_with_Prison_Prisoner]
GO
USE [master]
GO
